<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selecting-columns" data-toc-modified-id="Selecting-columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selecting columns</a></span><ul class="toc-item"><li><span><a href="#Onboarding-|-Tables" data-toc-modified-id="Onboarding-|-Tables-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Onboarding | Tables</a></span></li><li><span><a href="#Onboarding-|-Query-Result" data-toc-modified-id="Onboarding-|-Query-Result-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Onboarding | Query Result</a></span></li><li><span><a href="#Onboarding-|-Errors" data-toc-modified-id="Onboarding-|-Errors-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Onboarding | Errors</a></span></li><li><span><a href="#Onboarding-|-Bullet-Exercises" data-toc-modified-id="Onboarding-|-Bullet-Exercises-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Onboarding | Bullet Exercises</a></span></li><li><span><a href="#Beginning-your-SQL-journey" data-toc-modified-id="Beginning-your-SQL-journey-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Beginning your SQL journey</a></span></li><li><span><a href="#SELECTing-single-columns" data-toc-modified-id="SELECTing-single-columns-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>SELECTing single columns</a></span></li><li><span><a href="#SELECTing-multiple-columns" data-toc-modified-id="SELECTing-multiple-columns-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>SELECTing multiple columns</a></span></li><li><span><a href="#SELECT-DISTINCT" data-toc-modified-id="SELECT-DISTINCT-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>SELECT DISTINCT</a></span></li><li><span><a href="#Learning-to-COUNT" data-toc-modified-id="Learning-to-COUNT-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Learning to COUNT</a></span></li><li><span><a href="#Practice-with-COUNT" data-toc-modified-id="Practice-with-COUNT-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Practice with COUNT</a></span></li></ul></li><li><span><a href="#Filtering-rows" data-toc-modified-id="Filtering-rows-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering rows</a></span><ul class="toc-item"><li><span><a href="#Filtering-results" data-toc-modified-id="Filtering-results-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Filtering results</a></span></li><li><span><a href="#Simple-filtering-of-numeric-values" data-toc-modified-id="Simple-filtering-of-numeric-values-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Simple filtering of numeric values</a></span></li><li><span><a href="#Simple-filtering-of-text" data-toc-modified-id="Simple-filtering-of-text-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Simple filtering of text</a></span></li><li><span><a href="#WHERE-AND" data-toc-modified-id="WHERE-AND-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>WHERE AND</a></span></li><li><span><a href="#WHERE-AND-OR" data-toc-modified-id="WHERE-AND-OR-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>WHERE AND OR</a></span></li><li><span><a href="#WHERE-AND-OR-(2)" data-toc-modified-id="WHERE-AND-OR-(2)-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>WHERE AND OR (2)</a></span></li><li><span><a href="#BETWEEN" data-toc-modified-id="BETWEEN-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>BETWEEN</a></span></li><li><span><a href="#BETWEEN-(2)" data-toc-modified-id="BETWEEN-(2)-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>BETWEEN (2)</a></span></li><li><span><a href="#WHERE-IN" data-toc-modified-id="WHERE-IN-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>WHERE IN</a></span></li><li><span><a href="#Introduction-to-NULL-and-IS-NULL" data-toc-modified-id="Introduction-to-NULL-and-IS-NULL-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>Introduction to NULL and IS NULL</a></span></li><li><span><a href="#NULL-and-IS-NULL" data-toc-modified-id="NULL-and-IS-NULL-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>NULL and IS NULL</a></span></li><li><span><a href="#LIKE-and-NOT-LIKE" data-toc-modified-id="LIKE-and-NOT-LIKE-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>LIKE and NOT LIKE</a></span></li></ul></li><li><span><a href="#Aggregate-Functions" data-toc-modified-id="Aggregate-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Aggregate Functions</a></span><ul class="toc-item"><li><span><a href="#Aggregate-functions" data-toc-modified-id="Aggregate-functions-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Aggregate functions</a></span></li><li><span><a href="#Aggregate-functions-practice" data-toc-modified-id="Aggregate-functions-practice-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Aggregate functions practice</a></span></li><li><span><a href="#Combining-aggregate-functions-with-WHERE" data-toc-modified-id="Combining-aggregate-functions-with-WHERE-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Combining aggregate functions with WHERE</a></span></li><li><span><a href="#A-note-on-arithmetic" data-toc-modified-id="A-note-on-arithmetic-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>A note on arithmetic</a></span></li><li><span><a href="#It's-AS-simple-AS-aliasing" data-toc-modified-id="It's-AS-simple-AS-aliasing-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>It's AS simple AS aliasing</a></span></li><li><span><a href="#Even-more-aliasing" data-toc-modified-id="Even-more-aliasing-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Even more aliasing</a></span></li><li><span><a href="#Even-more-aliasing" data-toc-modified-id="Even-more-aliasing-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Even more aliasing</a></span></li></ul></li><li><span><a href="#Sorting-and-grouping" data-toc-modified-id="Sorting-and-grouping-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sorting and grouping</a></span><ul class="toc-item"><li><span><a href="#ORDER-BY" data-toc-modified-id="ORDER-BY-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>ORDER BY</a></span></li><li><span><a href="#Sorting-single-columns" data-toc-modified-id="Sorting-single-columns-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Sorting single columns</a></span></li><li><span><a href="#Sorting-single-columns-(2)" data-toc-modified-id="Sorting-single-columns-(2)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Sorting single columns (2)</a></span></li><li><span><a href="#Sorting-single-columns-(DESC)" data-toc-modified-id="Sorting-single-columns-(DESC)-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Sorting single columns (DESC)</a></span></li><li><span><a href="#Sorting-multiple-columns" data-toc-modified-id="Sorting-multiple-columns-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Sorting multiple columns</a></span></li><li><span><a href="#GROUP-BY" data-toc-modified-id="GROUP-BY-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>GROUP BY</a></span></li><li><span><a href="#GROUP-BY-practice" data-toc-modified-id="GROUP-BY-practice-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>GROUP BY practice</a></span></li><li><span><a href="#GROUP-BY-practice-(2)" data-toc-modified-id="GROUP-BY-practice-(2)-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>GROUP BY practice (2)</a></span></li><li><span><a href="#HAVING-a-great-time" data-toc-modified-id="HAVING-a-great-time-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>HAVING a great time</a></span></li><li><span><a href="#All-together-now" data-toc-modified-id="All-together-now-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span>All together now</a></span></li><li><span><a href="#All-together-now-(2)" data-toc-modified-id="All-together-now-(2)-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>All together now (2)</a></span></li><li><span><a href="#A-taste-of-things-to-come" data-toc-modified-id="A-taste-of-things-to-come-4.12"><span class="toc-item-num">4.12&nbsp;&nbsp;</span>A taste of things to come</a></span></li></ul></li></ul></div>

# Selecting columns

## Onboarding | Tables

In [ ]:

50 Cen

## Onboarding | Query Result

In [ ]:

A. Michael Baldwin

## Onboarding | Errors

In [ ]:
-- Try running me!
SELECT 'DataCamp <3 SQL'
AS result;

## Onboarding | Bullet Exercises

In [ ]:
SELECT 'SQL'
AS result;

In [ ]:
SELECT 'SQL is'
AS result;

In [ ]:
SELECT 'SQL is cool'
AS result;

## Beginning your SQL journey

In [ ]:
4

## SELECTing single columns

In [ ]:
SELECT title
FROM films

In [ ]:
select release_year 
from films

In [ ]:
select name
from people

## SELECTing multiple columns

In [ ]:
select *
from films

In [ ]:
SELECT title, release_year
FROM films;

In [ ]:
SELECT *
FROM films;

In [ ]:
Select *
from films

## SELECT DISTINCT

In [ ]:
select distinct country
from films

In [ ]:
select distinct certification
from films

In [ ]:
select distinct role
from roles

## Learning to COUNT

In [ ]:

4,968

## Practice with COUNT

In [ ]:
select count(*)
from people

In [ ]:
SELECT COUNT(birthdate)
FROM people;

In [ ]:
SELECT COUNT(distinct birthdate)
FROM people;

In [ ]:
select count(distinct language)
from films

In [ ]:
select count(distinct country)
from films

# Filtering rows

## Filtering results

In [ ]:
Films released after the year 2000
press

## Simple filtering of numeric values

In [ ]:
select *
from films
where release_year=2016

In [ ]:
select count(*)
from films
where release_year<2000

In [ ]:
select *
from films
where release_year> 2000

## Simple filtering of text

In [ ]:
select *
from films
where language = 'French'

In [ ]:
select birthdate
from people
where birthdate = '1974-11-11'

In [ ]:
select count(*)
from films
where language = 'Hindi'

In [ ]:
SELECT *
FROM films
WHERE certification = 'R';

## WHERE AND

In [ ]:
    select *
    from films
    where language = 'Spanish'
    and release_year < 2000

In [ ]:
select *
from films
where language = 'Spanish'
and release_year > 2000

In [ ]:
Select *
from films
where language = 'Spanish'
and release_year > 2000
and release_year < 2010

## WHERE AND OR

In [ ]:

Display only rows that meet at least one of the specified conditions.
press

## WHERE AND OR (2)

In [ ]:
select *
from films
where release_year <2000 and release_year>=1990

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish');

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish')
AND (GROSS > 2000000)

## BETWEEN

In [ ]:
Filter values in a specified range
press

## BETWEEN (2)

In [ ]:
select *
from films
where release_year between 1990 and 2000

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
and budget > 100000000

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
and language ='Spanish'

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND budget > 100000000
and (language = 'Spanish'or language ='French')

## WHERE IN

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year IN (1990, 2000)
AND duration > 120;

In [ ]:
SELECT title, language
FROM films
WHERE language IN ('English', 'Spanish', 'French');

In [ ]:
select title, certification
from films
where certification = 'NC-17' or certification = 'R'

## Introduction to NULL and IS NULL

In [ ]:
A missing value
press

## NULL and IS NULL

In [ ]:
select name
from people
where deathdate is null

In [ ]:
select title 
from films
where budget is null

In [ ]:
select count(*)
from films
where language is null

## LIKE and NOT LIKE

In [ ]:
select name
from people
where name like 'B%'

In [ ]:
select name
from people
where name like '_r%'

In [ ]:
select name
from people 
where name not like 'A%'

# Aggregate Functions

## Aggregate functions

In [ ]:
select sum(duration)
from films

In [ ]:
select avg(duration)
from films

In [ ]:
select min(duration)
from films

In [ ]:
select max (duration)
from films

## Aggregate functions practice

In [ ]:
select sum(gross)
from films

In [ ]:
select avg (gross)
from films

In [ ]:
SELECT MIN(gross)
FROM films;

In [ ]:
SELECT MAX(gross)
FROM films;

## Combining aggregate functions with WHERE

In [ ]:
select sum(gross)
from films
where release_year >= 2000

In [ ]:
SELECT AVG(gross)
FROM films
where title LIKE 'A%';

In [ ]:
SELECT MIN(gross)
FROM films
WHERE release_year = 1994;

In [ ]:
SELECT MAX(gross)
FROM films
WHERE release_year BETWEEN 2000 AND 2012;

## A note on arithmetic

In [ ]:

3

## It's AS simple AS aliasing

In [ ]:
SELECT title, gross - budget AS net_profit
FROM films;

In [ ]:
select title,duration/60.0 as duration_hours
from films

In [ ]:
SELECT AVG(duration) / 60.0 AS avg_duration_hours  
FROM films;

## Even more aliasing

In [ ]:
-- get the count(deathdate) and multiply by 100.0
-- then divide by count(*) 
SELECT COUNT(deathdate) * 100.0 / COUNT(*) AS percentage_dead
FROM people;

## Even more aliasing

In [ ]:
SELECT MAX(release_year) - MIN(release_year)
AS difference
FROM films;

In [ ]:
SELECT (MAX(release_year) - MIN(release_year)) / 10.0
AS number_of_decades
FROM films;

# Sorting and grouping

## ORDER BY

In [ ]:

Alphabetically (A-Z)
press

## Sorting single columns

In [ ]:
select name
from people
order by name asc

In [ ]:
select name 
from people
order by birthdate

In [ ]:
select birthdate, name
from people
order by birthdate

## Sorting single columns (2)

In [ ]:
select title 
from films 
where release_year =2000
or release_year = 2012
order by release_year

In [ ]:
select *
from films
where release_year <> 2015
order by duration

In [ ]:
SELECT title, gross
FROM films
WHERE title LIKE 'M%'
ORDER BY title;

## Sorting single columns (DESC)

In [ ]:
select imdb_score, film_id
from reviews
order by imdb_score desc

In [ ]:
select title 
from films
order by title desc

In [ ]:
select title, duration 
from films
order by duration desc

## Sorting multiple columns

In [ ]:
select birthdate, name
from people
order by birthdate, name asc

In [ ]:
select release_year, duration, title
from films
order by release_year, duration

In [ ]:
select certification, release_year, title
from films
order by certification, release_year asc

In [ ]:
select name, birthdate
from people
order by name, birthdate

## GROUP BY

In [ ]:

Performing operations by group
press

## GROUP BY practice

In [ ]:
select release_year, count(*)
from films
group by release_year

In [ ]:
select release_year, avg(duration)
from films
group by release_year

In [ ]:
select release_year, max(budget)
from films
group by release_year

In [ ]:
SELECT imdb_score, COUNT(*)
FROM reviews
GROUP BY imdb_score;

## GROUP BY practice (2)

In [ ]:
select release_year, min(gross)
from films
group by release_year

In [ ]:
select language, sum (gross)
from films
group by language

In [ ]:
select country, sum(budget)
from films
group by country

In [ ]:
select release_year, country, max(budget)
from films
group by release_year, country
order by release_year, country

In [ ]:
select country, release_year, min(gross)
from films
group by release_year, country
order by country, release_year

## HAVING a great time

In [ ]:
13

## All together now

In [ ]:
select release_year, budget, gross
from films

In [ ]:
SELECT release_year, budget, gross
FROM films
WHERE release_year > 1990;

In [ ]:
SELECT release_year
FROM films
where release_year>1990
group by release_year

In [ ]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year;

In [ ]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000;

In [ ]:
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000
order by avg(gross) desc

## All together now (2)

In [ ]:
select country, Avg(budget) as avg_budget, avg(gross) as avg_gross
from films
group by country 
having count(title)>10
order by country 
limit 5
-- select country, average budget, 
--     and average gross

-- from the films table

-- group by country 

-- where the country has more than 10 titles

-- order by country

-- limit to only show 5 results

## A taste of things to come

In [ ]:
SELECT title, imdb_score
FROM films
JOIN reviews
ON films.id = reviews.film_id
WHERE title = 'To Kill a Mockingbird';

In [ ]:
8.4